@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@import views.html.helper.FieldConstructor
@( postUrl: Call, form: Form[models.Login])(implicit request: MessagesRequestHeader)


@main("Welcome to MicroBot") {

    <h5> Welcome to Minibot Kindly log in to chat with the bot </h5>

            <div id="content">

                <div id="user-login-form">
                    @request.flash.data.map{ case (name, value) =>
                    <div>@name: @value</div>
                    }

                    @* Global errors are not tied to any particular form field *@
                    @if(form.hasGlobalErrors) {
                        @form.globalErrors.map { error: FormError =>
                            <div>
                                Error: @error.key: @error.message
                            </div>
                        }
                    }

                    @helper.form(postUrl, 'id -> "user-login-form", 'class -> "form-group") {

                        @helper.CSRF.formField
                        @helper.inputText(
                            form("username"),
                            'placeholder -> "username",
                            'id -> "username",
                            'size -> 60,
                            'class -> "form-control"
                        )

                        @helper.inputPassword(
                            form("password"),
                            'placeholder -> "password",
                            'id -> "password",
                            'size -> 60,
                        'class -> "form-control"
                        )

                        <button class="btn btn-primary">Login</button>
                        <a class="btn btn-success" href="/users/register">register</a>
                    }

                </div>

            </div>

        </body>




}
