@(messages: Seq[Message], messageForm: Form[String], postUrl: Call)(implicit request: Request[AnyContent], messagesProvider: MessagesProvider)


@main("MicroBot - messages") {

    <section>


        <section class="msger">

            @for(msg <- messages) {
                <div class="msg right-msg">
                    <div
                    class="msg-img"
                    style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                    ></div>

                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">@request.session.data.getOrElse("username", "User")</div>
                        </div>

                        <div class="msg-text">
                        @msg.message
                        </div>
                    </div>
                </div>
                <div class="msg left-msg">
                    <div
                    class="msg-img"
                    style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
                    ></div>

                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">MiniBot</div>
                        </div>

                        <div class="msg-text">
                        @msg.reply
                        </div>
                    </div>
                </div>
            }

        </section>
    </section>
    <main  >
    @helper.form(postUrl, 'id -> "user-login-form", 'class -> "form-group") {
        @helper.CSRF.formField
        @helper.inputText(
            messageForm("message"),
            'placeholder -> "message",
            'id -> "message",
            'class -> "form-control "
        )
        <button class="btn btn-primary" style="width: 100vw">Send</button>
    }
    </main>


    </main>

}